.dataCharts {
	display: grid;
}
.navbar-selection {
	display: flex;
	margin: 8px;
}

.navbar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lightgrey;
}

#h2id {
	float: left;
}

#h2id {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#h2id:hover {
	background-color: black;
}
